Source: ros-indigo-tork-rpc
Section: misc
Priority: extra
Maintainer: Keio University Yamaguchi Lab <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/tork_rpc
Standards-Version: 3.9.2

Package: ros-indigo-tork-rpc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-tork-rpc-util
Description: This package suite provides abstract RPC (Remote Procedure Call) structure for higher level of robot operations for the ROS-based robots.
